name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: list
      run: ls
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
